rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to the test-collection.
    // This is insecure and should only be used for initial setup.
    match /test-collection/{testId} {
      allow read, write: if true;
    }
  }
}
