rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Rules last updated: 2024-07-29

    // Helper function to check ownership
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Allow users to read and write their own 'uploads' folder
    match /uploads/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }

    // Allow users to read and write their own 'brandAssets' folder
    match /brandAssets/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }

    // Allow users to read and write their own 'inventory' folder
    match /inventory/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
